@model IEnumerable<NewFMS.WCF_Daramad.OBJ_PatternFish>
@using Ext.Net.MVC
@using Hogaf.ExtNet.UX
@using Ext.Net;

@{ var X = Html.X();}
<br />
@(Html.X().Panel()
            .ID("SabtPatternFish")
            .Title("ذخیره الگوی چاپ فیش")
                .Listeners(li => { li.AfterRender.Handler = "PatternFishSetSize()"; li.Render.Fn = "addKeyMapSabtPatternFish"; })
        .Closable(true)
        .CloseAction(Ext.Net.CloseAction.Destroy)
        .Border(false)
       .Items(
    X.Panel().Border(false).Items(X.Label()),
        X.Panel().Border(false).Buttons(
            X.Button().Text("ذخیره").Icon(Ext.Net.Icon.Disk)
                .Listeners(l => { l.Click.Handler = "SavePatternFish();"; })
            , X.Button().Text("ویرایش").Icon(Ext.Net.Icon.Pencil)
                .Listeners(l => { l.Click.Handler = "LoadPatternFish();"; })
            , X.Button().Text("حذف").Icon(Ext.Net.Icon.Delete)
                .Listeners(l => { l.Click.Handler = "DeletePatternFish();"; })
            , X.Button().Text("راهنما").Icon(Ext.Net.Icon.Help)
                .Listeners(l => { l.Click.Handler = "HelpPatternFish();"; })
            , X.Button().Text("خروج").Icon(Ext.Net.Icon.DoorOut)
                    .OnClientClick("App.SabtPatternFish.destroy()")
        ).ButtonAlign(Ext.Net.Alignment.Center)
        .Items(
                X.FormPanel().Border(false)
                              .Layout(LayoutType.VBox)
                                 .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Center })
            .Items(
                    X.FieldSet().Title("اطلاعات الگو")
                                .Height(50)
                                .Border(true)
                     .Defaults(new { Margin = 2 })
                    .Layout(LayoutType.Table)
                    .LayoutConfig(new TableLayoutConfig { Columns = 6 })
                .Items(
                    X.Hidden().ItemID("fldId"),
                        X.Label("عنوان:"),
                                X.TextField()
                                    .ItemID("txtName")
                                    .MsgTarget(Ext.Net.MessageTarget.Side)
                                    .AllowBlank(false)
                                    .BlankText("لطفا عنوان را وارد کنید.")
                                    .LabelAlign(Ext.Net.LabelAlign.Top)
                                    .AutoFocus(true)
                
                , X.FileUploadField()
                .ItemID("FileUploadFieldHokm")
                .ButtonOnly(true).ButtonText("انتخاب فایل")
                    .DirectEvents(l =>
                                    {
                                        l.Change.Action = "Upload";
                                        l.Change.Success = "hideprogress();";
                                    }
                                )
                            .Listeners(l => l.Change.Fn = "showFile")
                                    .Icon(Ext.Net.Icon.DiskUpload)
                                  , X.Container().Content(@<div id="fi-button-msg" style="display:none;"></div>)
                )
            )
        ),
        X.GridPanel()
        .ItemID("PatternFishGrid")
            .BottomBar(X.PagingToolbar())
                .TopBar(
                            Html.X().Toolbar()
                            .Items(
                                   X.Button().Text("طراحی الگو").Icon(Ext.Net.Icon.Pencil)
                        .Listeners(l => { l.Click.Handler = "DesignPatternFish();"; }),
                                       X.Button().Text("دانلود الگو").Icon(Ext.Net.Icon.ArrowDown)
                        .Listeners(l => { l.Click.Handler = "DownloadReport();"; })
                            )
                        )
            .Store(
                            X.StoreForModel()
                            .Proxy(Html.X().AjaxProxy()
                                .Url(Url.Action("Read"))
                                .Reader(Html.X().JsonReader().Root("data"))
                            )
                            .PageSize(20)
                            .RemoteFilter(true)
                            .RemotePaging(true)
                        )
                    .View(
                        Html.X().GridView().LoadingText("در حال بارگذاری...").RTL(true)
                )
                    .Plugins(X.FilterHeader().Remote(true))
                     .Listeners(l =>
                     {
                         l.AfterRender.Handler = "var grid = App.SabtPatternFish.queryById('PatternFishGrid');grid.setHeight(App.DaramadWin.getHeight() - 240); ";

                     })
        .ColumnModel(
                        Html.X().RowNumbererColumn(),
                                 Html.X().Column().DataIndex(Model, m => m.fldId).Text("کد").Hidden(true).Flex(1),
                                 Html.X().Column().DataIndex(Model, m => m.fldFileId).Text("کد").Hidden(true).Flex(1),
                                Html.X().Column().DataIndex(Model, m => m.fldName).Text("نام الگو").Flex(10)
                                //Html.X().Column().DataIndex(Model, m => m.fldDesc).Text("توضیحات").Flex(10)
    )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(Ext.Net.SelectionMode.Single)
    )
    )
)
<script type="text/javascript">
    var FileId = 0;
  
    function HelpPatternFish() {
        Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
        Ext.net.DirectMethod.request({
            url: '/Daramad/PatternFish/Help',
            success: function (data) {
                Ext.net.Mask.hide();
            }
        });
    }
    function PatternFishSetSize() {
        App.SabtPatternFish.setWidth(App.DaramadWin.getWidth());
        var grid = App.SabtPatternFish.queryById('PatternFishGrid');
        grid.setHeight(App.DaramadWin.getHeight() - 260);
    }

    var Mojaz = 0;
    var EndUpload = false;

    var Check = setInterval(CheckEnd, 500);

    function CheckEnd() {
        if (EndUpload == true) {

            Ext.MessageBox.hide();
            Ext.Msg.alert('عملیات موفق', 'فایل با موفقیت آپلود شد.');
            clearInterval(CheckEnd);
            EndUpload = false;
        }
    }
    var showFile = function (fb, v) {
        var id = fb.fileInputEl.dom.id;
        var el = Ext.get('fi-button-msg');
        if (v) {
            showProgressBar();
            if (v.split('.').pop().toLowerCase() == "frx") {
                Mojaz = 1;
                    el.update('<b>فایل انتخاب شده:</b> ' + v);

                if (!el.isVisible()) {
                    el.slideIn('t', {
                        duration: .2,
                        easing: 'easeIn',
                        callback: function () {
                            el.highlight();
                        }
                    });
                } else {
                    el.highlight();
                }
            }
            else {
                el.update('<b>فایل انتخاب شده:</b> ');
            }
        }
    };

    function hideprogress() {
        if (Mojaz == 1 ) {
            EndUpload = true;
        }
        Mojaz = 0;
    }

    function showProgressBar() {
        Ext.MessageBox.show({
            msg: 'لطفاً منتظر باشید',
            progressText: 'در حال آپلود فایل...',
            width: 300,
            wait: true,
            waitConfig:
            {
                interval: 200,
                text: 'در حال آپلود فایل...',
                scope: this
            }
        });
    }
    function DownloadReport() {
        var SelectedRow = App.SabtPatternFish.queryById('PatternFishGrid').selModel.getLastSelected();
        if (SelectedRow != null) {
            window.location.href = '@Url.Content("~/Daramad/PatternFish/Download?FileId=")' + SelectedRow.data.fldFileId;
        }
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }

    }
    function LoadPatternFish() {
        var SelectedRow = App.SabtPatternFish.queryById('PatternFishGrid').selModel.getLastSelected();
        if (SelectedRow != null) {
            Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
            Ext.net.DirectMethod.request({
                url: '/Daramad/PatternFish/Details',
                params: {
                    Id: SelectedRow.data.fldId
                },
                success: function (data) {
                    var txtName = App.SabtPatternFish.queryById('txtName');
                    txtName.setValue(data.fldName);
                    var fldId = App.SabtPatternFish.queryById('fldId');
                    fldId.setValue(data.fldId);
                    FileId = data.fldFileId;
                    Ext.net.Mask.hide();
                }
            });
        }
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }
    }

    function SavePatternFish() {
        var txtName = App.SabtPatternFish.queryById('txtName');
        var txtDesc = App.SabtPatternFish.queryById('txtDesc');
        var fldId = App.SabtPatternFish.queryById('fldId');
            var er = false;

            if (txtName.validate() == false) {
                er = true;
            }
            if (er == true)
                return;

            Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
            Ext.net.DirectMethod.request({
                url: '/Daramad/PatternFish/Save',
                params: {
                    fldId: fldId.getValue(),
                    fldFileId: FileId,
                    fldName: txtName.getValue()
                },
                success: function (data) {
                    Ext.net.Mask.hide();
                    var ic = Ext.MessageBox.INFO;
                    if (data.Err == 1)
                        ic = Ext.MessageBox.ERROR;
                    Ext.MessageBox.show({
                        Name: data.MsgName,
                        msg: data.Msg,
                        icon: ic,
                        buttons: Ext.MessageBox.OK
                    });
                    App.SabtPatternFish.queryById('PatternFishGrid').store.load();
                    if (data.Err != 1)
                        ClearPatternFish();
                }

            });
    }
    function DeletePatternFish() {
        var SelectedRow = App.SabtPatternFish.queryById('PatternFishGrid').selModel.getLastSelected();
        if (SelectedRow != null) {
            Ext.MessageBox.show({
                title: "هشدار",
                msg: "آیا برای حذف مطمئن هستید؟",
                icon: Ext.MessageBox.WARNING,
                buttons: Ext.MessageBox.YESNO,
                fn: function (btn) {
                    if (btn == 'yes') {
                        Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
                        Ext.net.DirectMethod.request({
                            url: '/Daramad/PatternFish/Delete',
                            params: {
                                id: SelectedRow.data.fldId
                            },
                            success: function (data) {
                                Ext.MessageBox.show({
                                    title: data.MsgTitle,
                                    msg: data.Msg,
                                    icon: Ext.MessageBox.INFO,
                                    buttons: Ext.MessageBox.OK
                                });
                                App.SabtPatternFish.queryById('PatternFishGrid').store.load()
                            }
                        });
                        Ext.net.Mask.hide();
                    }
                }
            });
        }
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }
    }
    function ClearPatternFish() {
        App.SabtPatternFish.queryById('fldId').setValue(0);
        App.SabtPatternFish.queryById('txtName').setValue("");
        Ext.get('fi-button-msg').update('');
        FileId = 0;
    }
    function DesignPatternFish() {
        var SelectedRow = App.SabtPatternFish.queryById('PatternFishGrid').selModel.getLastSelected();
        /*Ext.net.DirectMethod.request({
            url: '/SaveReport/ReportIndex',
            params: {
                containerId: "SaveReport"
            },
            success: function () {
                Ext.net.Mask.hide();
            }
        });*/
        if (SelectedRow != null)
            window.open("/Daramad/PatternFish/ReportIndex?Id=" + SelectedRow.data.fldId, "_blank");
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }
    }
    var addKeyMapSabtPatternFish = function (cmp) {
        this.keyMap = new Ext.util.KeyMap({
            target: cmp.getEl(),
            binding: [{
                key: [13, 9], /*Ext.EventObject.ENTER,*/
                fn: function (key, e) {
                    if (e.getKey() == 9) {
                        e.stopEvent();
                    }
                    var keyfield = App.SabtPatternFish.queryById(Ext.getCmp((Ext.Element.getActiveElement()).name).itemId);
                    var nextfld;
                    if (keyfield.itemId == "txtName") {
                        nextfld = App.SabtPatternFish.queryById('FileUploadFieldHokm');
                    }
                    else {
                        nextfld = keyfield.nextSibling().nextSibling();
                        nextfld.selectText();
                    }
                    nextfld.focus();
                    nextfld.selectText();
                }
            }]
        });
    }
</script>