


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>اسکن نامه</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div id="dwtcontrolContainer" style="float:left;"></div>
    <input type="button" value="Scan" style="margin-left:20px;width:100px;" onclick="AcquireImage();" />
    <input type="button" value="close" style="margin-left:20px;width:100px;" onclick="SaveScanToLetter();" />
    @*<input type="button" value="Save" style="margin-left:20px;width:100px;" onclick="SaveImage();" />
    <input type="button" value="Load" style="margin-left:20px;width:100px;" onclick="LoadImage();" />
    <input type="button" value="Upload" style="margin-left:20px;width:100px;" onclick="Dynamsoft_OnPostAllTransfers();" />*@
  

    <script src="~/Resources/dynamsoft.webtwain.initiate.js"></script>
    <script src="~/Scripts/DWTSample_ScanAndUpload.js"></script>
    <script src="~/Resources/dynamsoft.webtwain.config.js"></script>
    <script>
        function SaveScanToLetter() {
            $.ajax({
                type: "GET",
                url: '/Automation/VaredeLetter/SaveScanedFile',
                data: {
                    LetterId: '@ViewBag.LetterId'
                },
                success: function (data) {
                    window.close();
                }
            });
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
</body>
</html>

