
<script src="~/Scripts/DWTSample_ScanAndUpload.js"></script>
<script src="~/Resources/dynamsoft.webtwain.config.js"></script>
<script src="~/Resources/dynamsoft.webtwain.initiate.js"></script>
@using Ext.Net.MVC
@using Hogaf.ExtNet.UX
@using Ext.Net;

@{ var X = Html.X();}
<br />
@(Html.X().Panel()
           .ID("PnlScanLet")
            .Title("اسکن نامه")

        .Border(false)
       .Items(
    X.Panel().Border(false).Items(X.Label()),
        X.Panel().Border(false)
        .ButtonAlign(Ext.Net.Alignment.Center)
        .Items(
            X.Panel().Border(false)
             .Layout(LayoutType.VBox)
                         .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Center })
            .Items(
                X.FieldSet().Border(true).Title("اسکن")
                     .Defaults(new { Margin = 2 })
                    .Layout(LayoutType.Table)
                    .LayoutConfig(new TableLayoutConfig { Columns = 4 })
                .Items(
                X.Container().Content(
                    @<div>
                    <div id="dwtcontrolcontainer" style="float:left;"></div>
                    <input type="button" value="scan" style="margin-left:20px;width:100px;" onclick="acquireimage();" />
                    <input type="button" value="save" style="margin-left:20px;width:100px;" onclick="saveimage();" />
                    <input type="button" value="load" style="margin-left:20px;width:100px;" onclick="loadimage();" />
                    <input type="button" value="upload" style="margin-left:20px;width:100px;" onclick="dynamsoft_onpostalltransfers();" />
                </div>
                )
                )
            )
        )
      )
)
    