@font-face
{
	font-family: 'Tahoma';
	src: url('TTahoma.eot?#iefix') format('embedded-opentype'), url('TTahoma.woff') format('woff'), url('TTahoma.ttf') format('truetype');
    
}


.btnTamdid{
    background-image:url("/Content/icons/Contract/mini/تمدید.png");
    background-size:contain;
}
.btnTazmin{
    background-image:url("/Content/icons/Contract/mini/ضامنین.png");
    background-size:contain;
}
.btnEmza{
    background-image:url("/Content/icons/Contract/mini/امضاکنندگان.png");
    background-size:contain;
}

.eyeSee{
    background-image:url("/Content/icons/Weigh/see.png");
    background-size:contain!important;
}
.eyeNotSee{
     background-image:url("/Content/icons/Weigh/not see.png");
     background-size:contain!important;
}
.IconArze{
    background-image:url("/Content/icons/Weigh/قوانین فروش.png");
    background-size:contain;
}
.TasisatIco{
    background-image:url("/Content/icons/Desktop/تاسیسات.png");
}
.SettingParametBaskol{
    background-image:url("/Content/icons/Weigh/مقدار پارامترهای باسکول.png");
    background-size:contain;
}
.KartablIco{
     background-image:url("/Content/icons/Desktop/کارتابل.png");
}
.Contract{
    background-image:url("/Content/icons/Desktop/امور قراردادها.png");
}
 .ChekIco {
    background-image: url("/Content/icons/desktop/چک.png");
}
 .ArchiveIco{
     background-image: url("/Content/icons/desktop/بایگانی دیجیتال1.png");
 }
.StatusSanad{
    background-image:url("/Content/icons/Daramad/mini/تغییر وضعیت.png");
    background-size:contain;
}
.Select{
    background-image:url("/Content/icons/Daramad/mini/انتخاب.png");
    background-size:contain;
}
.PardakhtPcPos{
    background-image:url("/Content/icons/Daramad/mini/پرداخت با pc pos1.png");
    background-size:contain;
}
.treeIcon{
    background-image:url("/Content/icons/mini/ساختار الگو.png");
    background-size:contain;
}
.GroupIco{
    background-image:url("/Content/icons/Accounting/Mini/گروه.png")!important;
    background-size:contain;
}
.KolIco{
    background-image:url("/Content/icons/Accounting/Mini/کل.png")!important;
    background-size:contain;
}
.MoeinIco{
    background-image:url("/Content/icons/Accounting/Mini/معین.png")!important;
    background-size:contain;
}
.TafsiliIco{
    background-image:url("/Content/icons/Accounting/Mini/تفصیلی.png")!important;
    background-size:contain;
}
.SabtPardakht{
    background-image:url("/Content/icons/Daramad/mini/ثبت پرداخت.png");
    background-size:contain;
}
.EbtalPardakht{
    background-image:url("/Content/icons/Daramad/mini/ابطال پرداخت.png");
    background-size:contain;
}
.DelIco{
    background-image:url("/Content/icons/mini/del.png");
    background-size:contain;
}
.EnterIco{
    background-image:url("/Content/icons/mini/enter.png");
    background-size:contain;
}
.Hokm{
    background-image:url("/Content/icons/BasicInf/الگوی شرح حکم.png");
    background-size:contain;
    /*align-content:flex-start;*/
}
.HoghughIco{
    background-image:url("/Content/icons/desktop/حقوق دستمزد.png");
}
.PersoneliIco{
    background-image:url("/Content/icons/desktop/پرسنلی.png");
}
.PublicIco{
    background-image:url("/Content/icons/desktop/تنظیمات عمومی.png");

}
.DaramadIco {
    background-image: url("/Content/icons/desktop/درآمد.png");
}
.MotevafiatIco {
    background-image: url("/Content/icons/desktop/متوفیات.png");
}
.WritingFormula{
    background-image:url("/Content/icons/Desktop/فرمول نویس.png");
}
.Hesabdari{
    background-image:url("/Content/icons/Desktop/حسابداری.png");
}
.Budje{
    background-image:url("/Content/icons/Desktop/بودجه.png");
}
.FaniShahrsazi{
    background-image:url("/Content/icons/Desktop/فنی شهرسازی.png");
}
.Amval{
    background-image:url("/Content/icons/Desktop/اموال.png");
}
.Anbar{
    background-image:url("/Content/icons/Desktop/انبار.png");
}
.Khazanedari{
    background-image:url("/Content/icons/Desktop/خزانه داری.png");
}
.AutomationIco{
    background-image:url("/Content/icons/Desktop/اتوماسیون اداری.png");
}
.Deleteico{
    background-image:url("/Content/icons/mini/delete.png");
}

.Editico{
    background-image:url("/Content/icons/mini/edit.png");
}
.Percent{
    background-image:url("/Content/icons/mini/درصد بیمه.png");
    background-size:contain;
}

.ShomareHesab{
    background-image:url("/Content/icons/mini/شماره حساب.png");
    background-size:cover;
}



.Copy{
    background-image:url("/Content/icons/mini/رونوشت.png");
    background-size:cover;
}
.Pattern{
    background-image:url("/Content/icons/mini/الگوی نامه نگاری.png");
    background-size:cover;
}
.PatternRpt{
    background-image:url("/Content/icons/mini/تعریف الگوی گزارش.png");
    background-size:cover;
}
.Formul1{
    background-image:url("/Content/icons/mini/تعریف فرمول محاسبات.jpg");
    background-size:cover;
}
.Formul2{
    background-image:url("/Content/icons/mini/فرمول2.png");
    background-size:cover;
}
.FormulKoli{
    background-image:url("/Content/icons/mini/فرمول.png");
    background-size:cover;
}
.ParameterTree{
    background-image:url("/Content/icons/mini/پارامترهای درآمد.png");
    background-size:cover;
}
.ParameterHesab{
    background-image:url("/Content/icons/mini/کدحساب.png");
    background-size:cover;
}
.NerkhParameterTree{
    background-image:url("/Content/icons/mini/نرخ پارامتر ثابت.png");
    background-size:cover;
}
 .shortcut-Archive{
     background-image:url("/Content/icons/desktop/بایگانی دیجیتال.png")!important;
     background-size:contain;
 }


.clock{
    background-image:url("/Content/icons/mini/ساعت کاری.png");
    background-size:contain;
}
.SodorFish{
    background-image:url("/Content/icons/Daramad/mini/صدور فیش.png");
    background-size:contain;
}
.CancelFish{
    background-image:url("/Content/icons/Daramad/mini/ابطال فیش و فیش ابطال شده.png");
    background-size:contain;
}
.DarkhasteTaKhfif{
    background-image:url("/Content/icons/Daramad/mini/درخواستتقسیطتخفیف.png");
    background-size:contain;
}
.EbtalDarkhasteTaKhfif{
    background-image:url("/Content/icons/Daramad/mini/ابطالدرخواست.png");
    background-size:contain;
}
.ReplyTaghsit{
    background-image:url("/Content/icons/Daramad/mini/پاسختقسیط.png");
    background-size:contain;
}
.Taghsit{
    background-image:url("/Content/icons/Daramad/mini/تقسیطشده.png");
    background-size:contain;
}
.ReportBank{
    background-image:url("/Content/icons/Daramad/mini/گزارش بانک.png");
    background-size:contain;
}
.BackCheck{
    background-image:url("/Content/icons/Daramad/mini/عودت.png");
    background-size:contain;
}
.NewElameAvarez{
    background-image:url("/Content/icons/Daramad/mini/اعلام عوارض جدید.png");
    background-size:contain;
}
.x-message-box .x-form-display-field{
    text-align: right !important;
}
.bullet_green
{
     background-image:url("/Content/bullet_green.png")
}
.OrganIns
{
     background-image:url("/Content/icons/inserti/edare.png")
}
.shortcut_Employee
{
     background-image:url("/Content/icons/BasicInf/کارمند.png")
}
.shortcut_State{
    background-image:url("/Content/icons/BasicInf/استان.png")
}
.shortcut_City{
    background-image:url("/Content/icons/BasicInf/شهرستان.png")
}
.shortcut_Organization{
    background-image:url("/Content/icons/BasicInf/سازمان.png")
}
.shortcut_ChartOrgan{
    background-image:url("/Content/icons/BasicInf/چارت سازمانی.png")
}
.shortcut_Module{
    background-image:url("/Content/icons/BasicInf/ماژول.png")
}
.shortcut_Module_Organ{
    background-image:url("/Content/icons/BasicInf/ماژول سازمانی.png")
}
.shortcut_Masuolin{
    background-image:url("/Content/icons/BasicInf/مسئولین.png")
}
.custom-icon{
    background-image:url("/Content/icons/BasicInf/تنظیمات عمومی.png")
}
.shortcut_NezamVazife{
    background-image:url("/Content/icons/Personeli/نظام وظیفه.png")
}
.shortcut_MadrakTahsili{
    background-image:url("/Content/icons/Personeli/مدرک تحصیلی.png")
}
.shortcut_AnvaEstekhdam{
    background-image:url("/Content/icons/Personeli/انواع استخدام.png")
}
.shortcut_VaziyatEsargari{
     background-image:url("/Content/icons/Personeli/وضعیت ایثارگری.png")
}
.shortcut_HistoryNoeEstekhdam{
     background-image:url("/Content/icons/Personeli/تاریخچه نوع استخدام.png")
}
.shortcut-Personel{
     background-image:url("/Content/icons/Personeli/اطلاعات پرسنلی.png")
}
.Personeli-icon{
    background-image:url("/Content/icons/Personeli/پرسنلی.png")
}
.shortcut_AnvaGroupTashvighi{
    background-image:url("/Content/icons/Personeli/گروههای تشویقی.png")
}
.SooratHesab{
    background-image:url("/Content/icons/mini/صورتحساب.png");
    background-size:contain;
}
.SooratHesabKoli{
    background-image:url("/Content/icons/mini/صورتحساب کلی.png");
    background-size:contain;
}
.bullet_red
{
     background-image:url("/Content/bullet_red.png")
}
.bullet_yellow
{
     background-image:url("/Content/bullet_yellow.png")
}
 .shortcut-kartabl{
     background-image:url("/Content/proposal/desktop/کارتابل.png")!important;background-size:contain;
}
 .shortcut-Cycle{
     background-image:url("/Content/proposal/desktop/چرخه پروپزال.png")!important;background-size:contain;
}
 .CopyKoli{
    background-image:url("/Content/icons/mini/کپی کلی.png");
    background-size:contain;
 }
 .CopyParamtr{
     background-image:url("/Content/icons/mini/کپی پارامتر.png");
    background-size:contain;
 }
 .HistoryTahtePoshesh{
     background-image:url("/Content/icons/mini/تاریخچه افراد تحت پوشش.png");
    background-size:contain;
 }
 .PrintHistoryTahtePoshesh{
 background-image:url("/Content/icons/mini/پرینت تاریخچه افراد تحت پوشش.png");
    background-size:contain;
 }
 .AnbarAmvalIco {
    background-image: url("/Content/icons/desktop/انبار و اموال.png");
}
 /*.x-tab-bar{
     display:none!important;border:dashed!important;
 }*/
 
.Parameter
{
	background-image: url('Personel.png');
}
.Darman
{
	background-image: url('Personel.png');
}
.Percentage
{
	background-image: url('Personel.png');
}
.menuCheck
{
	width: 100%;
}
.x-btn-default-large-icon-text-top .x-btn-icon-el
{
	height: 52px;
}
.x-btn-default-large-icon-text-top .x-btn-inner
{
	padding-top: 44px;
}

.x-menu
{
	background:#FFFFFF;
}
.x-panel-body {
background:#FFFFFF;
}
.x-window-body-default{
background:#FFFFFF;
}

.x-rtl.x-message-box-info, .x-rtl.x-message-box-warning, .x-rtl.x-message-box-question, .x-rtl.x-message-box-error
{
	right: -15px;
	top: 10px;
}

.x-message-box-error {
background-image: url("/content/Error.png");
right: -15px;
	top: 10px;
}

.x-message-box-info {
background-image: url("/content/Info.png");
right: -15px;
	top: 10px;
} 
.x-message-box-warning {
background-image: url("/content/warning.png");
right: -15px;
	top: 10px;
}
.x-message-box-question {
background-image: url("/content/question.png");
right: -15px;
	top: 10px;
}
.ux-desktop-shortcut-text{
 color:black;
}
.field-validation-error{
    color: #ff0000;
}
.ux-start-button-icon {
    background-image: url("/content/small-rasa-red.png") !important;
    background-color: transparent;
}
.msg-wrap {
    word-wrap: break-word !important;
}
.rotation90{
transform: rotate(90deg);
}
.x-fieldset-header-text {
    color: #38158b;
    padding: 1px 0;
    font-family: tahoma;
    font-weight: bold;
}
/*center {
    display: block;
    text-align: right;
}*/

.x-clear-button{
    right:auto !important;
    left:2px !important;
} 
