


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>اسکن نامه</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <input type="button" value="Get Scan" style="margin-left:20px;width:100px;" onclick="GetScan();" />
    <img src="" id="img-scanned" />


    <script>
        function GetScan() {
            var url = ' http://192.168.1.33:8096/ScannerService.svc';
            $.get(url, function (data) {
                $("#img-scanned").attr("src", "data:image/Jpeg;base64,  " + data.GetScanResult);
            });
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
</body>
</html>
