


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>قالب صفحه تماس با ما :: دریافت شده از وب روبیک</title>
    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>

<body>
  

        <div class="container">
            <form id="contact" action="~/Automation/VaredeLetter/SaveScanedFile" method="post">
                <h3>اسکن نامه</h3>
                <input type="hidden" name="LetterId" value=@ViewBag.LetterId />
                <fieldset>
                    <div id="dwtcontrolContainer"></div>
                </fieldset>
                <fieldset>
                    <input type="button" value="اسکن" onclick="AcquireImage();" />
                </fieldset>
                <fieldset>
                    <input type="submit" value="ذخیره" />
                </fieldset>

            </form>
        </div>

        <script src="~/Resources/dynamsoft.webtwain.initiate.js"></script>
        <script src="~/Scripts/DWTSample_ScanAndUpload.js"></script>
        <script src="~/Resources/dynamsoft.webtwain.config.js"></script>
        <script>
            function SaveScanToLetter() {
                jQuery.ajax({
                    URL: '/Automation/VaredeLetter/SaveScanedFile',
                    data: {
                        LetterId: '@ViewBag.LetterId'
                    },
                    dataType: "json",
                    type: "POST",
                    success: function (msg) {
                        window.close();
                    }

                })
            }
        </script>
</body><!-- This template has been downloaded from Webrubik.com -->
</html>



