@using Ext.Net.MVC
@using Hogaf.ExtNet.UX
@using Ext.Net;
@using Ext.Net.Utilities;
@{
    var X = Html.X();
}
<script src="~/Scripts/accounting.js"></script>

<style>
    .lbl {
        color: red;
    }
</style>

@(Html.X().Window()
    .Modal(true)
    .Width(505)
    .Listeners(li => {
        li.AfterRender.Handler = "LoadUserPassword();";
        li.Render.Fn = "addKeyMapChangePasswordd"; 
    })
    .Title("تغییر رمز عبور")
    .ID("ChangePasswordd")
    .Closable(true)
    .CloseAction(CloseAction.Destroy)
    .ButtonAlign(Alignment.Center)
    .Buttons(
        X.Button()
            .Text("ذخیره")
            .Icon(Ext.Net.Icon.Disk)
            .ItemID("btnSave")
            .Listeners(l => l.Click.Handler = "SaveChangePasswordd();"),
        X.Button()
            .Text("خروج")
            .Icon(Ext.Net.Icon.DoorOut)
            .OnClientClick("App.ChangePasswordd.destroy()"))
    .Items(
        X.Panel()
            .Border(false)
            .Layout(Ext.Net.LayoutType.VBox)
            .LayoutConfig(new Ext.Net.VBoxLayoutConfig { Align = Ext.Net.VBoxAlign.Center })
            .Items(
                X.FieldSet()
                    .Border(true)
                    .Title("مشخصات کاربری")
                    .LayoutConfig(new Ext.Net.TableLayoutConfig { Columns = 4 })
                    .Defaults(new { Margin = 2 })
                    .Height(90)
                    .Items(
                        X.Label()
                            .Text("نام کاربری:"),
                        X.TextField()
                            .ItemID("txtUserName")
                            .FieldStyle("background-image:none;background-color:#dfe8f6")                            
                            .ReadOnly(true),
                        X.Label()
                            .Text("رمز عبور فعلی:"),
                        X.TextField()
                            .ItemID("txtPass")
                            .AutoFocus(true)
                            .InputType(Ext.Net.InputType.Password)
                            .AllowBlank(false)
                            .BlankText("لطفا رمز عبور فعلی را وارد کنید.")
                            .Focus(true),
                        X.Label().Text("رمز عبور جدید:"),
                        X.TextField()
                            .ItemID("txtNewPass")
                            .InputType(Ext.Net.InputType.Password)
                            .AllowBlank(false)
                            .BlankText("لطفا رمز عبور جدید را وارد کنید.")
                            .Listeners(l => l.Change.Handler = "CheckvalidPass();"),
                        X.Label().Text("تکرار رمز عبور:"),
                        X.TextField()
                            .ItemID("txtConfirmPass")
                            .AllowBlank(false)
                            .BlankText("لطفا تکرار رمز عبور جدید را وارد کنید.")
                            .InputType(Ext.Net.InputType.Password),
                        X.Label()
                            .ItemID("lblstrength"),
                        X.Container().Content(@<div id="strength" style="width:145px;height:6px;margin-top:7px;"></div>),
                        X.Label()
                            .ItemID("lblstrength1")
                            .Cls("lbl")
                            .ColSpan(2)
                    )
                )
        )
)

<script type="text/javascript">
    var colour = "";

    function LoadUserPassword() {
        App.ChangePasswordd.queryById('txtUserName').validate();
        App.ChangePasswordd.queryById('txtPass').validate();
        App.ChangePasswordd.queryById('txtNewPass').validate();
        App.ChangePasswordd.queryById('txtConfirmPass').validate();
        App.ChangePasswordd.queryById('txtUserName').setValue('@ViewBag.userNamee');
    }

    function CheckvalidPass() {
        var txtUserName = App.ChangePasswordd.queryById('txtUserName').getValue();
        var txtPass = App.ChangePasswordd.queryById('txtNewPass').getValue();
        var lblstrength = App.ChangePasswordd.queryById('lblstrength');
        var lblstrength1 = App.ChangePasswordd.queryById('lblstrength1');
        var check = false;

        if ((txtPass.match(txtUserName))) {
            colour = "red";
            lblstrength1.setText("رمز عبور نمی تواند شامل  نام کاربری باشد.");
            lblstrength.setText("ضعیف");
        }
        else {
            if (txtPass.length <= 4) {
                colour = "red";
                lblstrength.setText("ضعیف");
                lblstrength1.setText("");
            }
            if ((txtPass.length > 4 && txtPass.length <= 8) && (!(txtPass.match(/[0-9]/)) || !(txtPass.match(/[a-z]/)) || !(txtPass.match(/[A-Z]/)) || !(txtPass.match(/[.,!,#, $, %, ^, &, *, ?, _, ~, -, (, )]/)))) {
                colour = "yellow";
                lblstrength.setText("متوسط");
                lblstrength1.setText("");
            }
            if (txtPass.length > 8)
                if ((txtPass.match(/[0-9]/) && txtPass.match(/[a-z]/) && txtPass.match(/[.,!,#, $, %, ^, &, *, ?, _, ~, -, (, )]/)) || (txtPass.match(/[0-9]/) && txtPass.match(/[A-Z]/) && txtPass.match(/[.,!,#, $, %, ^, &, *, ?, _, ~, -, (, )]/)) || (txtPass.match(/[0-9]/) && txtPass.match(/[a-z]/) && txtPass.match(/[A-Z]/)) || (txtPass.match(/[.,!,#, $, %, ^, &, *, ?, _, ~, -, (, )]/) && txtPass.match(/[a-z]/) && txtPass.match(/[A-Z]/))) {

                    colour = "green";
                    lblstrength.setText("خوب");
                    lblstrength1.setText("");
                }
        }
        $("#strength").css("background-color", colour);
    }

    function SaveChangePasswordd() {
        var lblstrength1 = App.ChangePasswordd.queryById('lblstrength1');
        var txtPass = App.ChangePasswordd.queryById('txtPass');
        var txtNewPass = App.ChangePasswordd.queryById('txtNewPass');
        var txtConfirmPass = App.ChangePasswordd.queryById('txtConfirmPass');
        var er = false;

        if (txtPass.validate() == false) {
            er = true;
        }
        if (txtNewPass.validate() == false) {
            er = true;
        }
        if (txtConfirmPass.validate() == false) {
            er = true;
        }
        if (colour != "green") {
            lblstrength1.setText("رمز عبور جدید پیچیدگی لازم را ندارد. ");
            er = true;
        }

        if (txtNewPass.getValue() != txtConfirmPass.getValue()) {
            lblstrength1.setText("رمز عبور و تکرار رمز عبور یکسان نیست. ");
            er = true;
        }

        if (er == true)
            return;

        Ext.net.Mask.show({ msg: 'در حال ذخیره سازی...' });
        Ext.net.DirectMethod.request({
            url: '/Home/SaveChangePass',
            params: {
                fldPass: txtPass.getValue(),
                fldNewPass: txtNewPass.getValue(),
                fldUserName: '@ViewBag.userNamee'
            },
            success: function (data) {
                var ic = Ext.MessageBox.INFO;
                if (data.Err == 1)
                    ic = Ext.MessageBox.ERROR;
                Ext.MessageBox.show({
                    title: data.MsgTitle,
                    msg: data.Msg,
                    icon: ic,
                    buttons: Ext.MessageBox.OK,
                    fn: function (btn) {
                        if (btn == "ok" && data.Err!=1) {
                            App.ChangePasswordd.destroy();
                        }
                    }
                });
                Ext.net.Mask.hide();
            }
        });
    }

    var addKeyMapChangePasswordd = function (cmp) {
        this.keyMap = new Ext.util.KeyMap({
            target: cmp.getEl(),
            binding: [{
                key: [13, 9], /*Ext.EventObject.ENTER,*/
                fn: function (key, e) {
                    if (e.getKey() == 9) {
                        e.stopEvent();
                    }
                    var nextfld;
                    if (Ext.Element.getActiveElement().name == "") {
                        SaveChangePasswordd();
                        return;
                    }
                    else {
                        var keyfield = App.ChangePasswordd.queryById(Ext.getCmp((Ext.Element.getActiveElement()).name).itemId);
                        if (keyfield.itemId == "txtConfirmPass") {
                            nextfld = App.ChangePasswordd.queryById("btnSave");
                            nextfld.focus();
                            return;
                        }
                        else {
                            nextfld = keyfield.nextSibling().nextSibling();
                        }
                        nextfld.focus();
                        nextfld.selectText();
                    }
                }
            }]
        });
    };
</script>