@{
    Layout = null;
}
@{
    ViewBag.Title = "صفحه اصلی";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
   
        </div>
    </section>
}


    <div id="dwtcontrolContainer" style="float:left;"></div> 
    <input type="button" value="Scan" style="margin-left:20px;width:100px;" onclick="AcquireImage();" />
    <input type="button" value="Save" style="margin-left:20px;width:100px;" onclick="SaveImage();" />
    <input type="button" value="Load" style="margin-left:20px;width:100px;" onclick="LoadImage();" />
    <input type="button" value="Upload" style="margin-left:20px;width:100px;" onclick="Dynamsoft_OnPostAllTransfers();" />
    <script src="~/Resources/dynamsoft.webtwain.initiate.js"></script>
    <script src="~/Scripts/DWTSample_ScanAndUpload.js"></script>
	<script src="~/Resources/dynamsoft.webtwain.config.js"></script>
