@model IEnumerable<NewFMS.WCF_Personeli.OBJ_HokmReport>
@using Ext.Net.MVC
@using Hogaf.ExtNet.UX
@using Ext.Net;

@{ var X = Html.X();}
<br />
@(Html.X().Panel()
            .ID("SabtHokmReport")
            .Title("ذخیره گزارش حکم")
                .Listeners(li => { li.AfterRender.Handler = "HokmReportSetSize()"; li.Render.Fn = "addKeyMapSabtHokmReport"; })
        .Closable(true)
        .CloseAction(Ext.Net.CloseAction.Destroy)
        .Border(false)
       .Items(
    X.Panel().Border(false).Items(X.Label()),
        X.Panel().Border(false).Buttons(
            X.Button().Text("ذخیره").Icon(Ext.Net.Icon.Disk)
                .Listeners(l => { l.Click.Handler = "SaveHokmReport();"; })
            , X.Button().Text("ویرایش").Icon(Ext.Net.Icon.Pencil)
                .Listeners(l => { l.Click.Handler = "LoadHokmReport();"; })
            , X.Button().Text("حذف").Icon(Ext.Net.Icon.Delete)
                .Listeners(l => { l.Click.Handler = "DeleteHokmReport();"; })          
            , X.Button().Text("خروج").Icon(Ext.Net.Icon.DoorOut)
                    .OnClientClick("App.SabtHokmReport.destroy()")
        ).ButtonAlign(Ext.Net.Alignment.Center)
        .Items(
                X.FormPanel().Border(false)
                              .Layout(LayoutType.VBox)
                                 .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Center })
            .Items(
                    X.FieldSet().Title("اطلاعات گزارش")
                                .Height(50)
                                .Border(true)
                     .Defaults(new { Margin = 2 })
                    .Layout(LayoutType.Table)
                    .LayoutConfig(new TableLayoutConfig { Columns = 6})
                .Items(
                    X.Hidden().ItemID("fldId"),
                        X.Label("عنوان:"),
                                X.TextField()
                                    .ItemID("txtName")
                                    .MsgTarget(Ext.Net.MessageTarget.Side)
                                    .AllowBlank(false)
                                    .BlankText("لطفا عنوان را وارد کنید.")
                                    .LabelAlign(Ext.Net.LabelAlign.Top)
                                    .MaskRe("[a-z,A-Z,آ-ی, ,_,-]")
                                    .AutoFocus(true),
                            X.Label("نوع استخدام:"),
                     X.ComboBox().Width(150)
                .LabelAlign(Ext.Net.LabelAlign.Top)
                //.FieldLabel("نوع استخدام")
                .ItemID("CboAnvaeEstekhdam")
                .TypeAhead(true)
                .Editable(false)
                .QueryMode(DataLoadMode.Local)
                .ForceSelection(true)
                .TriggerAction(TriggerAction.All)
                .DisplayField("Name")
                .ValueField("ID")
                .EmptyText("نوع استخدام")
                .Store(X.Store()
                    .Model(X.Model()
                        .IDProperty("ID")
                        .Fields(
                        new ModelField("ID", ModelFieldType.String) { Mapping = "ID" },
                        new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                        )
                    )
                    .Proxy(X.AjaxProxy()
                        .Url(Url.Action("GetEstekhdam"))
                        .Reader(X.JsonReader().Root("data"))
                    )
                           
                )
                , X.FileUploadField()
                .ItemID("FileUploadFieldHokm")
                .ButtonOnly(true).ButtonText("انتخاب فایل")
                    .DirectEvents(l =>
                                    {
                                        l.Change.Action = "Upload";
                                        l.Change.Success = "hideprogress();";
                                    }
                                )
                            .Listeners(l => l.Change.Fn = "showFile")
                                    .Icon(Ext.Net.Icon.DiskUpload)
                                  , X.Container().Content(@<div id="fi-button-msg" style="display:none;"></div>)
                )
            )
        ),
        X.GridPanel()
        .ItemID("HokmReportGrid")
            .BottomBar(X.PagingToolbar())
                .TopBar(
                            Html.X().Toolbar()
                            .Items(
                                   X.Button().Text("طراحی گزارش").Icon(Ext.Net.Icon.Pencil)
                        .Listeners(l => { l.Click.Handler = "DesignHokmReport();"; }),
                                       X.Button().Text("دانلود گزارش").Icon(Ext.Net.Icon.ArrowDown)
                        .Listeners(l => { l.Click.Handler = "DownloadReport();"; })
                            )
                        )
            .Store(
                            X.StoreForModel()
                            .Proxy(Html.X().AjaxProxy()
                                .Url(Url.Action("Read"))
                                .Reader(Html.X().JsonReader().Root("data"))
                            )
                            .PageSize(20)
                            .RemoteFilter(true)
                            .RemotePaging(true)
                        )
                    .View(
                        Html.X().GridView().LoadingText("در حال بارگذاری...").RTL(true)
                )
                    .Plugins(X.FilterHeader().Remote(true))
                     .Listeners(l =>
                     {
                         l.AfterRender.Handler = "var grid = App.SabtHokmReport.queryById('HokmReportGrid');grid.setHeight(App.PersoneliWin.getHeight() - 240); ";

                     })
        .ColumnModel(
                        Html.X().RowNumbererColumn(),
                                 Html.X().Column().DataIndex(Model, m => m.fldId).Text("کد").Hidden(true).Flex(1),
                                 Html.X().Column().DataIndex(Model, m => m.fldFileId).Text("کد").Hidden(true).Flex(1),
                                Html.X().Column().DataIndex(Model, m => m.fldName).Text("نام گزارش").Flex(5),
                                Html.X().Column().DataIndex(Model, m => m.fldAnvaEstekhdamName).Text("نوع استخدام").Flex(10)
    )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(Ext.Net.SelectionMode.Single)
    )
    )
)
<script type="text/javascript">
    var FileId = 0;
    /*App.PersoneliWin.addListener('resize', function () {
        App.HokmReport.setWidth(App.PersoneliWin.getWidth());
    });
    App.PersoneliWin.addListener('resize', function () {
        var grid = App.HokmReport.queryById('HokmReportGrid');
        grid.setHeight(App.PersoneliWin.getHeight() - 240);
    });*/

    function HokmReportSetSize() {
        App.SabtHokmReport.setWidth(App.PersoneliWin.getWidth());
        var grid = App.SabtHokmReport.queryById('HokmReportGrid');
        grid.setHeight(App.PersoneliWin.getHeight() - 260);
    }

    var Mojaz = 0;
    var EndUpload = false;

    var Check = setInterval(CheckEnd, 500);

    function CheckEnd() {
        if (EndUpload == true) {

            Ext.MessageBox.hide();
            Ext.Msg.alert('عملیات موفق', 'فایل با موفقیت آپلود شد.');
            clearInterval(CheckEnd);
            EndUpload = false;
        }
    }
    var showFile = function (fb, v) {
        var id = fb.fileInputEl.dom.id;
        var el = Ext.get('fi-button-msg');
        if (v) {
            showProgressBar();
            if (v.split('.').pop().toLowerCase() == "frx") {
                Mojaz = 1;
                    el.update('<b>فایل انتخاب شده:</b> ' + v);

                if (!el.isVisible()) {
                    el.slideIn('t', {
                        duration: .2,
                        easing: 'easeIn',
                        callback: function () {
                            el.highlight();
                        }
                    });
                } else {
                    el.highlight();
                }
            }
            else {
                el.update('<b>فایل انتخاب شده:</b> ');
            }
        }
    };

    function hideprogress() {
        if (Mojaz == 1 ) {
            EndUpload = true;
        }
        Mojaz = 0;
    }

    function showProgressBar() {
        Ext.MessageBox.show({
            msg: 'لطفاً منتظر باشید',
            progressText: 'در حال آپلود فایل...',
            width: 300,
            wait: true,
            waitConfig:
            {
                interval: 200,
                text: 'در حال آپلود فایل...',
                scope: this
            }
        });
    }
    function DownloadReport() {
        var SelectedRow = App.SabtHokmReport.queryById('HokmReportGrid').selModel.getLastSelected();
        if (SelectedRow != null) {
            window.location.href = '@Url.Content("~/Personeli/SaveReportHokm/Download?FileId=")' + SelectedRow.data.fldFileId;
        }
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }

    }
    function LoadHokmReport() {
        var SelectedRow = App.SabtHokmReport.queryById('HokmReportGrid').selModel.getLastSelected();
        if (SelectedRow != null) {
            Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
            Ext.net.DirectMethod.request({
                url: '/Personeli/SaveReportHokm/Details',
                params: {
                    Id: SelectedRow.data.fldId
                },
                success: function (data) {
                    var CboAnvaeEstekhdam = App.SabtHokmReport.queryById('CboAnvaeEstekhdam');
                    CboAnvaeEstekhdam.setValue(data.fldAnvaEstekhdamId); 
                    var txtName = App.SabtHokmReport.queryById('txtName');
                    txtName.setValue(data.fldName);
                    var fldId = App.SabtHokmReport.queryById('fldId');
                    fldId.setValue(data.fldId);
                    FileId = data.fldFileId;
                    Ext.net.Mask.hide();
                }
            });
        }
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }
    }

    function SaveHokmReport() {
        var CboAnvaeEstekhdam = App.SabtHokmReport.queryById('CboAnvaeEstekhdam');
        var txtName = App.SabtHokmReport.queryById('txtName');
        var txtDesc = App.SabtHokmReport.queryById('txtDesc');
        var fldId = App.SabtHokmReport.queryById('fldId');
            var er = false;

            if (CboAnvaeEstekhdam.validate() == false) {
                er = true;
            }
            if (txtName.validate() == false) {
                er = true;
            }
            if (er == true)
                return;

            Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
            Ext.net.DirectMethod.request({
                url: '/Personeli/SaveReportHokm/Save',
                params: {
                    fldId: fldId.getValue(),
                    fldAnvaEstekhdamId: CboAnvaeEstekhdam.getValue(),
                    fldFileId: FileId,
                    fldName: txtName.getValue()
                },
                success: function (data) {
                    Ext.net.Mask.hide();
                    var ic = Ext.MessageBox.INFO;
                    if (data.Err == 1)
                        ic = Ext.MessageBox.ERROR;
                    Ext.MessageBox.show({
                        Name: data.MsgName,
                        msg: data.Msg,
                        icon: ic,
                        buttons: Ext.MessageBox.OK
                    });
                    App.SabtHokmReport.queryById('HokmReportGrid').store.load();
                    if (data.Err != 1)
                        ClearHokmReport();
                }

            });
    }
    function DeleteHokmReport() {
        var SelectedRow = App.SabtHokmReport.queryById('HokmReportGrid').selModel.getLastSelected();
        if (SelectedRow != null) {
            Ext.MessageBox.show({
                title: "هشدار",
                msg: "آیا برای حذف مطمئن هستید؟",
                icon: Ext.MessageBox.WARNING,
                buttons: Ext.MessageBox.YESNO,
                fn: function (btn) {
                    if (btn == 'yes') {
                        Ext.net.Mask.show({ msg: 'در حال بارگذاری...' });
                        Ext.net.DirectMethod.request({
                            url: '/Personeli/SaveReportHokm/Delete',
                            params: {
                                id: SelectedRow.data.fldId
                            },
                            success: function (data) {
                                Ext.MessageBox.show({
                                    title: data.MsgTitle,
                                    msg: data.Msg,
                                    icon: Ext.MessageBox.INFO,
                                    buttons: Ext.MessageBox.OK
                                });
                                App.SabtHokmReport.queryById('HokmReportGrid').store.load()
                            }
                        });
                        Ext.net.Mask.hide();
                    }
                }
            });
        }
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }
    }
    function ClearHokmReport() {
        App.SabtHokmReport.queryById('fldId').setValue(0);
        App.SabtHokmReport.queryById('CboAnvaeEstekhdam').setValue("");
        App.SabtHokmReport.queryById('txtName').setValue("");
        Ext.get('fi-button-msg').update('<b>فایل انتخاب شده:</b> ');
        FileId = 0;
    }
    function DesignHokmReport() {
        var SelectedRow = App.SabtHokmReport.queryById('HokmReportGrid').selModel.getLastSelected();
        /*Ext.net.DirectMethod.request({
            url: '/SaveReport/ReportIndex',
            params: {
                containerId: "SaveReport"
            },
            success: function () {
                Ext.net.Mask.hide();
            }
        });*/
        if (SelectedRow != null)
            window.open("/Personeli/SaveReportHokm/ReportIndex?Id=" + SelectedRow.data.fldId, "_blank");
        else {
            Ext.MessageBox.show({
                title: "خطا",
                msg: "لطفا یک سطر را انتخاب کنید",
                icon: Ext.MessageBox.ERROR,
                buttons: Ext.MessageBox.OK
            });
        }
    } 
    var addKeyMapSabtHokmReport = function (cmp) {
        this.keyMap = new Ext.util.KeyMap({
            target: cmp.getEl(),
            binding: [{
                key: [13, 9], /*Ext.EventObject.ENTER,*/
                fn: function (key, e) {
                    if (e.getKey() == 9) {
                        e.stopEvent();
                    } 
                    var keyfield = App.SabtHokmReport.queryById(Ext.getCmp((Ext.Element.getActiveElement()).name).itemId);
                    var nextfld;
                    if (keyfield.itemId == "CboAnvaeEstekhdam") {
                        nextfld = App.SabtHokmReport.queryById('FileUploadFieldHokm');
                    }
                    else {
                        nextfld = keyfield.nextSibling().nextSibling();
                        nextfld.selectText();
                    }
                    nextfld.focus();
                    nextfld.selectText();
                }
            }]
        });
    }
</script>