

@using Ext.Net.MVC
@using Hogaf.ExtNet.UX
@using Ext.Net;


<script src="~/Resources/dynamsoft.webtwain.initiate.js"></script>
<script src="~/Scripts/DWTSample_ScanAndUpload.js"></script>
<script src="~/Resources/dynamsoft.webtwain.config.js"></script>
<script>
        function SaveScanToLetter() {
            $.ajax({
                type: "GET",
                url: '/Automation/VaredeLetter/SaveScanedFile',
                data: {
                    LetterId: '@ViewBag.LetterId'
                },
                success: function (data) {
                    window.close();
                }
            });
        }
</script>

@{ var X = Html.X();}
<br />
@(Html.X().Panel()
           .ID("PnlScanLet")
            .Title("اسکن نامه")

        .Border(false)
       .Items(
    X.Panel().Border(false).Items(X.Label()),
        X.Panel().Border(false)
        .ButtonAlign(Ext.Net.Alignment.Center)
        .Items(
            X.Panel().Border(false)
             .Layout(LayoutType.VBox)
                         .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Center })
            .Items(
                X.FieldSet().Border(true).Title("اسکن")
                     .Defaults(new { Margin = 2 })
                    .Layout(LayoutType.Table)
                    .LayoutConfig(new TableLayoutConfig { Columns = 4 })
                .Items(
                X.Container().Content(
                    @<div>
                         <div id="dwtcontrolContainer" style="float:left;"></div>
                         <input type="button" value="Scan" style="margin-left:20px;width:100px;" onclick="AcquireImage();" />
                         <input type="button" value="close" style="margin-left:20px;width:100px;" onclick="SaveScanToLetter();" />
                </div>
                )
                )
            )
        )
      )
)
    